<mat-card class="titrCard">
  <h5 class="titr">
    تعریف چک لیست
  </h5>
</mat-card>
<app-loading *ngIf="commonService.loading==true"></app-loading>
<div class="example-container ">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="جستجو">
  </mat-form-field>
  <br>
  <!-- <button mat-flat-button matTooltip="ذخیره " class=" btnROllBack"><i
      class=" fa fa-trash float-right"></i> &nbsp; حذف &nbsp; </button> -->
  <!-- <button mat-flat-button matTooltip="ذخیره " class=" btnSave" (click)="saveChanges()"><i
      class=" fa fa-trash float-right"></i> &nbsp; ذخیره &nbsp; </button> -->


  <table matSort class="table table-responsive table-bordered  table-striped  table-hover" mat-table #table
    [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->




    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف </th>
      <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


   

    <ng-container matColumnDef="desChkHecli">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> نام چک لیست</th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.desChkHecli" type="text">
        </mat-form-field>

        <p *ngIf="!edit">{{element.desChkHecli}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" ass="example-full-width" appearance="fill">
        <input  matInput placeholder="نام"  [(ngModel)]="newRowObj.desChkHecli"  type="text">
      </mat-form-field>
      </td>
    </ng-container>



    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>عملیات </th>
      <td mat-cell *matCellDef="let row;let index = index">
        <i *ngIf="edit==false " class="fa fa-pencil-square-o iconEdit" (click)="editRow(row)"></i>
        <i *ngIf="edit==true && row.editable==true" class="fa fa-check-square-o iconOk" (click)="updateRow(row)"></i>
        <i *ngIf="edit==false " class="fa fa-trash iconDelete" (click)="deleteRow(row)"></i>
      </td>
      <td mat-footer-cell *matFooterCellDef="let row;let index = index">
        <i class="fa fa-plus-square iconAdd" (click)="addRow()" ></i>
      </td>
    
    </ng-container>

    <tr mat-header-row  *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr style="background-color: #794c7454;" mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true">

    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>

</div>