<div>
    <mat-card class="titrCard">
        <h5 class="titr">
            برنامه زمانبندی </h5>
    </mat-card>
</div>
<div>
    <div>
        <app-loading *ngIf="commonService.loading==true"></app-loading>
        <br>
        <mat-form-field class="example-container ">
            <input matInput (keyup)="applyFilter($event)" placeholder="جستجو">
        </mat-form-field>

    </div>

    <div class="example-container ">

        <table dir="rtl" matSort class="table table-responsive table-bordered  table-striped  table-hover" mat-table
            #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف </th>
                <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
                <td mat-footer-cell *matFooterCellDef>
                    <p style="font-weight: bold;"> ایجاد کاربر جدید </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="namAssessorHsrch">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>  نام ارزیاب</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
                        <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.namAssessorHsrch" type="text">
                    </mat-form-field>
                    <p *ngIf="!edit">{{element.namAssessorHsrch}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
                        <input matInput placeholder="نام " [(ngModel)]="newRowObj.namAssessorHsrch" type="text">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="hecliECheckListId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> نام خانوادگی</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
                        <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.hecliECheckListId" type="text">
                    </mat-form-field>
                    <p *ngIf="!edit">{{element.hecliECheckListId}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
                        <input matInput placeholder="نام  خانوادگی" [(ngModel)]="newRowObj.hecliECheckListId" type="text">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="datSchedulingHscls">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> نام کاربری</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
                        <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.datSchedulingHscls" type="text">
                    </mat-form-field>
                    <p *ngIf="!edit">{{element.datSchedulingHscls}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
                        <input matInput placeholder="نام  کاربری" [(ngModel)]="newRowObj.datSchedulingHscls" type="text">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="namLocationHsrch">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> کلمه عبور</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
                        <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.namLocationHsrch" type="text">
                    </mat-form-field>
                    <p *ngIf="!edit">{{element.namLocationHsrch}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
                        <input matInput placeholder="کلمه عبور" [(ngModel)]="newRowObj.namLocationHsrch" type="text">
                    </mat-form-field>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="process">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>عملیات </th>
                <td mat-cell *matCellDef="let row;let index = index">
                    <i *ngIf="edit==false " class="fa fa-pencil-square-o iconEdit" (click)="editRow(row)"></i>
                    <i *ngIf="edit==true && row.editable==true" class="fa fa-check-square-o iconOk"
                        (click)="updateRow(row)"></i>
                    <i *ngIf="edit==false " class="fa fa-trash iconDelete" (click)="deleteRow(row)"></i>
                </td>
                <td mat-footer-cell *matFooterCellDef="let row;let index = index">
                    <i *ngIf="edit==false " class="fa fa-plus-square iconAdd" (click)="addRow()"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr style="background-color: #794c7454;" mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true">

            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 100]"></mat-paginator>

    </div>